<!DOCTYPE html>
<html>
<head>
    <title> Shopify CSV downloader</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="row">
            <h1>Shopify CSV Downloader</h1>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <a class="btn btn-success" href="{{ url('generate_csv_orders') }}">Download Orders CSV</a>
                    </div>
                    <div class="col-md-6">
                        <a class="btn btn-success" href="{{ url('generate_csv_checkouts') }}">Download Checkouts CSV</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>